CompileFlags:
  Add:
    - "--sysroot=/home/uznbt/android-ndk-r26d/toolchains/llvm/prebuilt/linux-x86_64/sysroot"
    - "--target=aarch64-none-linux-android28"
    - "-isystem/home/uznbt/android-ndk-r26d/toolchains/llvm/prebuilt/linux-x86_64/sysroot/usr/include"
    - "-isystem/home/uznbt/android-ndk-r26d/toolchains/llvm/prebuilt/linux-x86_64/sysroot/usr/include/aarch64-linux-android"
    - "-DANDROID"
    - "-D__ANDROID_API__=28"
  Compiler: /home/uznbt/android-ndk-r26d/toolchains/llvm/prebuilt/linux-x86_64/bin/clang++

InlayHints:
  Enabled: No
